<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="my-5">My Watchlist</h1>
    </div>
  </div>
  <div *ngIf="!watchlistService.toList().length" class="row">
    <div class="col">
      <ngb-alert class="text-center" [dismissible]="false">
        Currently you don't have any stock in your watchlist.
      </ngb-alert>
    </div>
  </div>
  <div (click)="router.navigate(['search', companyProfile.ticker])"
    *ngFor="let companyProfile of watchlistService.toList()" class="row clickable mb-3 bg-white">
    <div class="col">
      <div class="card position-relative">
        <div class="card-body p-4">
          <div class="row">
            <div class="col">
              <div class="row-cols-1">
                <div class="col h3">{{companyProfile.ticker}}</div>
                <div class="col h5">{{companyProfile.name}}</div>
              </div>
            </div>
            <div class="col">
              <div class="row-cols-1 text-end"
                [class.text-success]="((watchlistService.watchQuote[companyProfile.ticker] | async)?.d || 0) > 0"
                [class.text-danger]="((watchlistService.watchQuote[companyProfile.ticker] | async)?.d || 0) < 0">
                <div class="col h3">
                  {{(watchlistService.watchQuote[companyProfile.ticker] |  async)?.c | number: '1.2-2'}}
                </div>
                <div class="col h5">
                  <span *ngIf="((watchlistService.watchQuote[companyProfile.ticker] | async)?.d || 0) > 0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                      <path
                        d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                    </svg>
                  </span>
                  <span *ngIf="((watchlistService.watchQuote[companyProfile.ticker] | async)?.d || 0) < 0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                      <path
                        d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                  </span>
                  {{ (watchlistService.watchQuote[companyProfile.ticker] | async)?.d | number: '1.2-2'}}
                  ({{ (watchlistService.watchQuote[companyProfile.ticker] | async)?.dp | number: '1.2-2'}}%)
                </div>
              </div>
            </div>
          </div>
          <button (click)="watchlistService.remove(companyProfile)"
            class="btn btn-close position-absolute top-0 end-0 p-0">
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
