<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h1 class="my-4 fs-1 fw-bold font-monospace">STOCK SEARCH</h1>
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <form (ngSubmit)="searchDetail(symbol.value)" class="col-9 col-md-6 col-lg-5">
      <div class="input-group rounded-pill border border-4 px-3">
        <input class="form-control search-bar border-0" type="text" placeholder="Enter stock ticker symbol" #symbol
          (input)="search(symbol.value)" name="symbol" [matAutocomplete]="auto">

        <mat-autocomplete #auto (optionSelected)="onOptionSelected($event)">
          <mat-option [disabled]="true" *ngIf="symbol.value && !searchResp">
            <mat-spinner [color]="color" [diameter]="30"></mat-spinner>
          </mat-option>
          <mat-option *ngFor="let option of searchResp?.result" [value]="option.symbol">
            {{option.symbol}} | {{option.description}}
          </mat-option>
        </mat-autocomplete>

        <button class="btn" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
        </button>
        <button class="btn" (click)="reset()" type="reset">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
            <path fill-rule="evenodd"
              d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
          </svg>
        </button>
      </div>

    </form>
  </div>

  <div class="row">
    <div class="col">
      <app-search-result></app-search-result>
    </div>
  </div>
</div>
